




.container{
  margin: 5px 30% 5px 30%;
}

h1{
  border-bottom: 2px solid green;
  padding-bottom: 20px;
  text-align: center;
}

table{
  margin-left: 50px;
}

tr:hover{
  background-color: orange;

}

img{
  width: 80px;
}

button{
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-left: 150px;
}

button:hover{
  color: red;
  
}
